.md-typeset__table {
    min-width: 100%;
}

@media only screen and (min-width: 768px) {
    td:nth-child(1) {
        white-space: nowrap;
    }
}

* {
    --md-primary-fg-color: #102b3e;
    --md-primary-fg-color--light: #445a68;
    --md-primary-fg-color--dark: #0c2230;
    --md-typeset-color: var(--md-default-fg-color);
    --md-typeset-a-color: var(--md-primary-fg-color--light);
}

:root {
    --md-primary-fg-color: #102b3e;
    --md-primary-fg-color--light: #445a68;
    --md-primary-fg-color--dark: #0c2230;
}

:root>* {
    --md-typeset-color: var(--md-default-fg-color);
    --md-typeset-a-color: var(--md-primary-fg-color--light);
}

/*
markdown and image alignment
ALT tag and a CSS selector on the alt tag
*/
img[src*='#left'] {
    float: left;
}

img[src*='#right'] {
    float: right;
}

img[src*='#center'] {
    display: block;
    margin: auto;
}

/*
Tables set to 100% width
*/
.md-typeset__table {
    min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
}

img {
    /* box-shadow: 2px 2px 10px 2px #888888; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.emojione {
    box-shadow: none;
    display: inline;
}

.updated {
    display: block;
    margin-top: 2em;
    color: gray;
}

.pl1 {
    padding-left: 1em;
}

.pr1 {
    padding-right: 1em;
}

.pl2 {
    padding-left: 2em;
}

.pr2 {
    padding-right: 2em;
}

.pl3 {
    padding-left: 3em;
}

.pr3 {
    padding-right: 3em;
}

.bblue {
    background-color: blue;
}

.bred {
    background-color: red;
}

.byello {
    background-color: yellow;
}

.byello {
    background-color: green;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.auto_width {
    width: auto !important;
}


/*
article OL {
    counter-reset: item
}

article LI {
    display: block
}

article LI:before {
    content: counters(item, ".") " ";
    counter-increment: item
} */