{% extends "main-styles.html" %}

{% block tabs %}
{{ super() }}

<section class="main-container ">
    <div class="md-grid md-typeset">
        <div class="hero">

            <!-- Hero image -->
            <div class="hero-image">
                <img
                    src="/img/home_override/hero1.png"
                    alt=""
                    width="800"
                    draggable="false"
                >
            </div>

            <!-- Hero content -->
            <div class="hero-content">
                <h1>1Remote</h1>
                <p>
                    1Remote是一款现代化的个人远程会话管理员和启动器，使用它你可以管理从一个入口管理多种远程会话。
                    <br>
                    <br>
                </p>

                <br>

                <p>

                    ⭐
                    <strong>
                        开源且免费
                    </strong>
                    <br>

                    ⭐
                    <strong>
                        支持 RDP, SSH, VNC, Telnet, (S)FTP,
                        <a href="https://github.com/1Remote/1Remote/wiki/%5BProtocol%5D-RemoteApp">RemoteApp</a>
                        等多种协议
                    </strong>
                    <br>

                    ⭐
                    <strong>
                        多屏幕、高分辨率的 RDP 支持
                    </strong>
                    <br>

                    ⭐
                    <strong>
                        一键打开你的远程连接 (Alt + M)
                    </strong>
                    <br>

                    ⭐
                    <strong>
                        单个服务器配置中允许存储多个地址和账号
                    </strong>
                    <br>
<!--
                    ⭐
                    <strong>
                        Detailed configuration: tags, icons, colors, connection scripts etc...
                    </strong>
                    <br> -->

                    ⭐
                    <strong>
                        基于选项卡的远程桌面界面、多语言、可自定义颜色主题
                    </strong>
                    <br>

                    <!-- ⭐
                    <strong>
                        Customizable SFTP \ FTP \ VNC protocols, you can replace the internal runner with your favorite tools.
                    </strong>
                    <br> -->

                    ⭐
                    <strong>
                        易于部署，仅需解压就能运行
                    </strong>
                    <br>


                <a
                        href="{{ page.next_page.url | url }}"
                        title="{{ page.next_page.title | e }}"
                        class="md-button md-button"
                >
                    Get started
                </a>
                <br>

            </div>
        </div>
    </div>
</section>


<!-- image left -->
<section class="container">
    <div class="md-grid md-typeset">
        <div class="container-image-left" style="margin-top: 50px">
            <img src="/img/home_override/hero2.gif" width="300px" draggable="false"
                    align="left"
            >
        </div>
        <div class="hero">
            <div class="container-content-right">
                <h1>干活更轻松</h1>
                <p>1Remote 简化了远程会话管理，你可以在一个入口管理多种远程会话。</p>
                <p>使用启动器 (Alt + M) 和选项卡界面，你可以轻松地在会话之间切换。</p>
                <br>
                <p>📌 快捷启动器，不耽误一秒</p>
                <p>📌 Tab 界面，优雅舒适</p>
                <p>📌 密码加密存，安全更放心</p>
                <p>📌 要想多设备同步，还可数据库存共享盘</p>
                <p style="max-width: 40em;">📌 多语言支持: English, 简体中文, Deutsch, Français, čeština, 
                    Portuguese, 日本語, 正體中文...等等等等
                    <a href="usage/misc/help-translation/#currrent-contributors">感谢我们的翻译者🎉</a><i style="opacity: 0.5;">(尤其是谷歌翻译😀)</i></p>
            </div>
        </div>
    </div>
</section>




<!-- image right -->
<section class="container">
    <div class="md-grid md-typeset">
        <div class="hero">
            <div class="container-image-right" style="margin-top: 50px;">
                <img src="/img/home_override/protocols.png" width="500px" draggable="false" align="right">
            </div>
            <div class="container-content-left">
                <h1>访问多种服务器的终极解决方案</h1>
                <p>
                  一个软件，搞定全部:
                  <br/>
                  <i style="margin-left: 2rem;">✅ RDP</i>
                  <br/>
                  <i style="margin-left: 2rem;">✅ SSH</i>
                  <br/>
                  <i style="margin-left: 2rem;">✅ FTP / SFTP</i>
                  <br/>
                  <i style="margin-left: 2rem;">✅ VNC</i>
                  <br/>
                  <i style="margin-left: 2rem;">✅ RemoteApp   <a href="/usage/protocol/especial/remoteapp/">learn more</a></i>
                  <br/>
                  <i style="margin-left: 2rem;">✅ Other cli tools   <a href="/usage/protocol/especial/app/">learn more</a></i>
                </p>
            </div>
        </div>
    </div>
</section>





<!-- image left -->
<section class="container">
    <div class="md-grid md-typeset">
        <div class="container-image-left" style="margin-top: 50px;">
            <img src="https://raw.githubusercontent.com/1Remote/PRemoteM/Doc/DocPic/multi-screen.jpg" width="500px" draggable="false" align="right">
        </div>
        <div class="hero">
            <div class="container-content-right">
                <h1>当RDP<br/>遇到了多4k显示器...</h1>
                <br>
                <p>
                    <b>1Remote</b> 是目前唯一一个能够在多4k显示器环境下流畅运行RDP的第三方工具。
                    拥有多显示器、拥抱生产力！
                </p>
                <p style="width: 30rem;
                          border-radius: 10px;
                          background: #80808059;
                          padding: 0 1rem;">
                  <b>开发者说:</b> 我写这软件最初的理由就是其他第三方工具都不能支持同时用我家的两个4k显示器+一个1080p显示器，全屏 RDP 到服务器上。
                </p>
            </div>
        </div>
    </div>
</section>




<!-- image right -->
<section class="container">
    <div class="md-grid md-typeset">
        <div class="hero">
            <div class="container-image-right" style="margin-top: 50px;">
                <img src="/img/home_override/cli-integrate.jpg" width="500px" draggable="false" align="right">
            </div>
            <div class="container-content-left">
                <h1>甚至可以不改变你原有的习惯</h1>
                <br>
                <p style="max-width: 30rem;">
                    不喜欢内置的 FTP 客户端？没关系，你甚至可以改变 1Remote 的客户端！
                </p>
                <p style="max-width: 30rem;">
                    在 1Remote 中你可以轻松集成你原有的 CLI 工具，比如 WinSCP 和 TightVNC，无需改变你的工作流！
                </p>
                <a href="usage/protocol/runner"
                    target="_blank"
                    class="md-button md-button">
                    Learn more About CLI tools integrate
                </a>
            </div>
        </div>
    </div>
</section>





<!-- image left -->
<section class="container">
    <div class="md-grid md-typeset">
        <div class="container-image-left" style="margin-top: 50px;">
            <img src="/usage/img/multi-credential-demo.png" width="500px" draggable="false" align="left">
        </div>
        <div class="hero">
            <div class="container-content-right">
                <h1>简化服务器的地址与账号管理</h1>
                <br>
                <p>✨ 多地址切换：内网用 LAN，速度快！外网用 WAN，连的通！两种地址的切换居然还是自动的！</p>

                <p>✨ 多账号切换：一个服务器可配置多套账号密码，再也不用小本本抄写root密码了！</p>

                <p>✨ 自动化脚本：这个脚本可以帮你在远程前自动打开VPN耶！</p>
                <br>
                <a href="usage/alternative-credential/"
                    target="_blank"
                    class="md-button md-button">
                    Learn more 多账号
                </a>
                <a href="usage/misc/pre-post-script-control/overview"
                    target="_blank"
                    class="md-button md-button">
                    Learn more 自动化脚本
                </a>
            </div>
        </div>
    </div>
</section>






<!-- image right -->
<section class="container">
    <div class="md-grid md-typeset">
        <div class="hero">
            <div class="container-image-right" style="margin-top: 50px;">
                <img src="/img/home_override/team_sharing_network.png" width="500" draggable="false" align="right">
            </div>
            <div class="container-content-left">
                <h1>账号团队内部享，不用微信传密码</h1>
                <p style="max-width: 30rem;">
                  <i>🚀 自建一个 MySQL 你就能把服务器给团队里其他人用啦</i>
                  <br/>
                  <i>🚀 还是 MySQL 1个人可写，其他人只读，安全。团队小兵兵甚至都看不到密码</i>
                  <br/>
                  <i>🚀 当然你也可以用网盘分享主数据库 SQLite，不过不推荐哦</i>
                  <br/>
                </p>
                <a href="usage/team/team-sharing/"
                    target="_blank"
                    class="md-button md-button">
                    Learn more
                </a>
            </div>
        </div>
    </div>
</section>





<!-- image left -->
<section class="container">
    <div class="md-grid md-typeset">
        <div class="container-image-left" style="margin-top: 50px;">
            <img src="/img/home_override/ratings.jpg" draggable="false" align="left">
        </div>
        <div class="hero">
            <div class="container-content-right">
                <h1>大家用了都说好</h1>
                <br>
                <p>目前<a href="https://www.microsoft.com/store/productId/9PNMNF92JNFP" target="_blank">Microsoft Store</a>上已经有超过 10,000 的用户使用过 1Remote，并且获得了 90% 的好评。</p>

                <img src="/img/home_override/reviews.jpg" draggable="false" align="left">

            </div>
        </div>
    </div>
</section>

<section style="display: flex;justify-content: center;align-items: center;">
    <div class="md-grid md-typeset">
                <a
                        href="{{ page.next_page.url | url }}"
                        title="{{ page.next_page.title | e }}"
                        class="md-button md-button"
                >
                    Get started
                </a>
    </div>
</section>



{% endblock %}



{% block content %}{% endblock content %}
{% block footer %}
{{ super() }}
{% endblock footer %}


<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?915b78fdd0e2f52a5f6f6816de6cb939";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
