{% extends "main-styles.html" %}

{% block tabs %}
{{ super() }}

<section class="main-container ">
    <div class="md-grid md-typeset">
        <div class="hero">

            <!-- Hero image -->
            <div class="hero-image">
                <img
                    src="img/home_override/hero1.png"
                    alt=""
                    width="800"
                    draggable="false"
                >
            </div>

            <!-- Hero content -->
            <div class="hero-content">
                <h1>1Remote</h1>
                <p>
                    1Remote is a modern personal remote session manager and launcher.
                    It is a single place to manage all your remote sessions
                    supporting number of different protocols.
                    <br>
                    <br>
                </p>

                <br>

                <p>

                    ⭐
                    <strong>
                        Open source
                    </strong>
                    <br>

                    ⭐
                    <strong>
                        RDP, SSH, VNC, Telnet, (S)FTP,
                        <a href="https://github.com/1Remote/1Remote/wiki/%5BProtocol%5D-RemoteApp">RemoteApp</a>
                    </strong>
                    <br>

                    ⭐
                    <strong>
                        Multi-screen and HiDPI RDP connection
                    </strong>
                    <br>

                    ⭐
                    <strong>
                        Quick and convenient remote session launcher (Alt + M)
                    </strong>
                    <br>

                    ⭐
                    <strong>
                        Keep multiple accounts and addresses in one connection.
                    </strong>
                    <br>
<!--
                    ⭐
                    <strong>
                        Detailed configuration: tags, icons, colors, connection scripts etc...
                    </strong>
                    <br> -->

                    ⭐
                    <strong>
                        Tabbed interface, Multiple languages, themes...
                    </strong>
                    <br>

                    <!-- ⭐
                    <strong>
                        Customizable SFTP \ FTP \ VNC protocols, you can replace the internal runner with your favorite tools.
                    </strong>
                    <br> -->

                    ⭐
                    <strong>
                        Easy to deploy, just unpack and run with portable mode.
                    </strong>
                    <br>


                <a
                        href="{{ page.next_page.url | url }}"
                        title="{{ page.next_page.title | e }}"
                        class="md-button md-button--primary"
                >
                    Get started
                </a>
                <br>

            </div>
        </div>
    </div>
</section>


<!-- image left -->
<section class="container">
    <div class="md-grid md-typeset">
        <div class="container-image-left" style="margin-top: 50px">
            <img src="img/home_override/hero2.gif" width="300px" draggable="false"
                    align="left"
            >
        </div>
        <div class="hero">
            <div class="container-content-right">
                <h1>Makes your life easier</h1>
                <p>1Remote simplifies remote session management with a single hub for multiple protocols. </p>
                <p>You can easily switch between sessions with convenient launcher (Alt + M) and tabbed interface.</p>
<!--
                <a href="usage/protocol/especial/remoteapp/"
                    target="_blank"
                    class="md-button md-button--primary">
                    RemoteApp
                </a>

                <a href="usage/protocol/runner/"
                    target="_blank"
                    class="md-button md-button--primary">
                    Runner
                </a> -->
            </div>
        </div>
    </div>
</section>






<!-- image right -->
<section class="container">
    <div class="md-grid md-typeset">
        <div class="hero">
            <div class="container-image-right" style="margin-top: 50px;">
                <img src="https://raw.githubusercontent.com/1Remote/PRemoteM/Doc/DocPic/multi-screen.jpg" width="500px" draggable="false" align="right">
            </div>
            <div class="container-content-left">
                <h1>Multiple monitors meet high resolution RDP</h1>
                <p>Harness the power of multiple monitors in high definition via RDP!</p>
            </div>
        </div>
    </div>
</section>





<!-- image left -->
<section class="container">
    <div class="md-grid md-typeset">
        <div class="container-image-left" style="margin-top: 50px;">
            <img src="usage/img/multi-credential-demo.png" width="500px" draggable="false" align="left">
        </div>
        <div class="hero">
            <div class="container-content-right">
                <h1>Streamline your server management</h1>
                <br>
                <p>Access your PC effortlessly with automatic LAN and WAN address auto switching. Manage multiple user accounts seamlessly, and switch between them with ease. Take control of your server like never before!</p>
                <br>
                <a href="usage/alternative-credential/"
                    target="_blank"
                    class="md-button md-button--primary">
                    Learn more
                </a>
            </div>
        </div>
    </div>
</section>


<!--
<section class="testimonials">
    <h2>What Our Users Are Saying</h2>
    <div class="testimonial">
        <img src="customer-1.jpg" alt="Customer 1">
        <blockquote>“1Remote has completely changed the way I work. I can now easily manage all my remote sessions in one place and access them with just a few clicks.”</blockquote>
        <p>- Jane Doe, Systems Administrator</p>
    </div>
    <div class="testimonial">
        <img src="customer-2.jpg" alt="Customer 2">
        <blockquote>“1Remote has made my job so much easier. I no longer have to juggle multiple remote connections and can access everything I need from one central location.”</blockquote>
        <p>- John Smith, IT Professional</p>
    </div>
    <div class="testimonial">
        <img src="customer-3.jpg" alt="Customer 3">
        <blockquote>“I love the password management feature in 1Remote. It's so convenient and has helped me to keep my remote sessions more secure.”</blockquote>
        <p>- Lisa Brown, Systems Analyst</p>
    </div>

<p class="stats">Over 10,000 users worldwide have downloaded 1Remote and reported 90% satisfaction rate</p>
</section> -->



{% endblock %}

<!--
{% block content %}{% endblock content %}

{% block footer %}
{% endblock footer %} -->